<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="withdraw-headline" style="text-align:center; padding-top:30px;">本当に退会しますか？</h2>
      <p style="text-align: center;">
        退会すると、会員登録情報や<br>
        これまでの購入履歴が閲覧できなくなります。<br>
        退会する場合は『退会する』をクリックしてください。
      </p>
      <div class="form-body">
        <%= form_for(@user, url: user_path(current_user.id), method: :delete) do |f| %>
          <div class="actions" style="text-align:center;">
            <%= f.submit "退会する", class: "btn btn-danger" %>
            <%= link_to "退会しない",user_path(current_user.id), class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
