<strong><%= flash[:logout] %></strong>
  <section id= "mv">
    <!-- top visual -->
    <div class="top-visual">
      <p style="font-size:40px; text-align:center; padding-top:90px; color:black;">welcome to AnimalGram</p><br>
      <p style="text-align: center; color:black;"> In AnimalGram<br>
        you can share and exchange  your pictures , inpressions , and emotions about various animals</p>
          <div class="btn-wrapper" style="text-align: center; color: black;">
            <div class="">
              <%= link_to "Log in",user_session_path,class: "btn btn-default" %>
            </div>
            <div class="">
            <%= link_to "Sign Up", new_user_registration_path,class: "btn btn-default" %>
            </div>
          </div>
    </div>
  </section>

<!-- main -->
  <div class="top-main-visual">
    <div id="clearfix">
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"><p style="text-align: center; padding-top:40px; font-size: 10px; color:black;">もし飼育が難しくなったなら里親を募集しよう。</p></div>
      <div class="box"><p style="text-align: center; padding-top:40px; font-size: 10px; color:black;">動物達との素敵な思い出を投稿していこう。</p></div>
      <div class="box"></div>
      <div class="box"></div>
    </div>
  </div>

  <div class="contact">
    <h3>Contact</h3>
    <p>Mail<br>
      xx@xx.com</p>
    <p>Tel<br>
      000-0000-0000</p>
  </div>